<!DOCTYPE html>
<html>
  <head>
    <title>Writing Responsible JavaScript</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/app.css" />
    <%= script_tag "/assets/javascript/jquery-2.1.1.min.js" %>
    <%= script_tag "/assets/javascript/AjaxUtil.js" %>
    <%= script_tag "/assets/javascript/DateUtil.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
