<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.0</title>

  <link rel="shortcut icon" type="image/png" href="/assets/images/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/jasmine.css">

  <script type="text/javascript" src="/assets/javascript/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/assets/javascript/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="/assets/javascript/jasmine/boot.js"></script>

  <!-- include source files here... -->
  <script type="text/javascript" src="/assets/javascript/jquery/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/assets/javascript/lib/AjaxUtil.js"></script>
  <script type="text/javascript" src="/assets/javascript/lib/DateUtil.js"></script>
  <script type="text/javascript" src="/assets/javascript/lib/EventUtil.js"></script>
  <script type="text/javascript" src="/assets/javascript/views/IndexView.js"></script>

  <!-- include spec files here... -->
  <script type="text/javascript" src="/assets/javascript/specs/lib/AjaxUtilSpec.js"></script>
  <script type="text/javascript" src="/assets/javascript/specs/lib/DateUtilSpec.js"></script>
  <script type="text/javascript" src="/assets/javascript/specs/views/IndexViewSpec.js"></script>

</head>

<body>
</body>
</html>
